@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #03045e;
  --color-lightBlue: #a2d2ff;
  --color-lightBlue-variant: #cbe7ff;
  --color-white: #fff;
  --color-yellow: #ffbd00;
  --color-black: #000;
  --color-transparent-white: rgba(255, 255, 255, 0.7);
  --color-transparent-primary: rgba(3, 4, 94, 0.7);
  --color-body: #ebf4ff;


  --container-max-width-lg: 80em;
  --container-width-lg: 80%;
  --container-max-width-md: 50em;
  --container-width-md: 90%;
  --container-max-width-sm: 28em;
  --container-width-sm: 95%;

  --transition: all 400ms ease;

  --box-shadow1: 2px 2px 10px 1px rgb(0 0 0 / 0.15);
  --box-shadow2: inset 2px 1px 5px 2px rgba(2, 3, 93, 0.1);
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  color: var(--color-primary);
  background: var(--color-white);
  clear: both;
}

.container {
  max-width: var(--container-max-width-lg);
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  color: var(--color-white);
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  display: inline-block;
  width: 10rem;
  height: auto;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  font-weight: 600;
  transition: all 100ms ease-in-out;
}

.btn:hover {
  background: var(--color-yellow);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  box-shadow: var(--box-shadow1);
}

.btn_type2 {
  display: inline-block;
  color: var(--color-white);
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  width: 10rem;
  padding: 0.5rem 0;
  font-weight: 600;
  transition: all 100ms ease-in-out;
  text-align: center;
}

.btn_type2:hover {
  background: var(--color-yellow);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  box-shadow: 8px 6px 11px 3px rgb(0 0 0 / 20%);
}

.section_header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* ================== HEADER ==================*/

header {
  background-color: var(--color-white);
  overflow: hidden;
  height: auto;
}

.header_container {
  text-align: center;
}

.header_container ul {
  width: 100%;
  height: auto;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.header_container ul li:nth-child(1) img {
  width: 10rem;
}

.header_container ul li p {
  color: var(--color-black);
  font-weight: 600;
}

.header_container ul li:nth-child(3) img {
  width: 6rem;
}


/* ================== NAVBAR ==================*/
#navbar {
  background: var(--color-primary);
  width: 100%;
  height: 3.2rem;
  overflow: hidden;
  z-index: 111;
}

/*-------linked with activePage JS --------- */
#navbar .nav_menu li a:is(:link, :active, :visited).active {
  background: transparent;
  color: var(--color-yellow);
  border-bottom: 3px solid var(--color-yellow);
}

/* -------linked with activePage JS --------- */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}


/* v v v v NAV BUTTONS FOR MOBILE & TABS v v v v */
#navbar #open-menu-btn,
#navbar #close-menu-btn {
  display: none;
}

/* ^ ^ ^ ^ NAV BUTTONS FOR MOBILE & TABS ^ ^ ^ ^ */
.nav_menu {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav_menu a {
  font-size: 1.1rem;
  transition: var(--transition);
  text-align: center;
}

#navbar ul>li .btn:hover {
  background: transparent;
  color: var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
}


/* ==================CONTACT & MAP==================*/
.contactUs-wrapper {
  overflow: hidden;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
}

  /* --------- Contact-details---------- */

.contact-details-wrapper{
  width: inherit;
  height: auto;
  margin: auto;
}

.contact_details_content {
  background: var(--color-lightBlue-variant);
  color: var(--color-primary);
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 2rem;
  text-align: left;
  box-shadow: var(--box-shadow1);
  height: 25rem;
}

.mail_phone a {
  color: var(--color-primary);
  text-align: justify;
}

.mail_phone p {
  margin-bottom: 0.5rem;
}

.contact_details_content p {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.contact_details_content p i {
  font-size: 1.5rem;
}

.connect_with_us,
.mail_phone,
.contact_btn {
  margin-bottom: 1rem;
  text-align: justify;
}

  /* --------------- MAP -----------------*/

.map-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.map_content {
  background: var(--color-lightBlue-variant);
  color: var(--color-primary);
  width: 98%;
  height: 25rem;
  box-shadow: var(--box-shadow1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


/* ======================== FORM =========================*/

.form{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 2rem;
  background: var(--color-lightBlue-variant);
}

form {
  margin: 2% auto;
  width: 50%;
  height: auto;
}

legend {
  font-size: 0.75rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

#part-1,
#part-2,
#part-3 {
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--color-white);
}

#message::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
}

#message:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
}

#message:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
}

#message::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
}

label#name,
label#email,
label#message  {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea {
  position: relative;
  border-bottom: 3px inset var(--color-lightBlue);
  padding: 2%;
  margin: 0.5rem 0;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--color-primary);
  -webkit-transition: border-color 1.5s ease;
  transition: border-color 1.5s ease; 
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#resetButton,
#submitButton {
  cursor: pointer;
  background: transparent;
  color: var(--color-white);
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.submit:hover,
.reset:hover {
  background: var(--color-primary);
  filter: hue-rotate(50deg);
}

.submit:focus,
.reset:focus {
  transform: scale(0.9);
}

#part-1 label:after,
#part-2 label:after {
  content: " *";
  color: red;
}

textarea {
  resize: none;
}


/* ================== FOOTER ==================*/

footer {
  background: var(--color-primary);
  padding-top: 2rem;
  text-align: left;
  border-top: 10px inset var(--color-white);
  overflow: hidden;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer_container>div h4 {
  margin-bottom: 1.2rem;
  color: var(--color-yellow);
}

.footer_container ul {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer_logo img {
  width: 4.5rem;
  text-align: left;
  background: var(--color-white);
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer_4 .contact_us li p {
  display: flex;
  align-items: center;
  align-content: center;
}

.footer_4 .contact_us i {
  margin-right: 5px;
  font-size: 1.4rem;
  align-self: center;
}


/* <!-- ------------FOR SOCIAL HANDELS-------------> */

.footer_socials {
  position: fixed;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

.footer_socials a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  z-index: 999;
  background: var(--color-white);
}

.footer_socials a i:hover {
  background-color: #000;
}

.footer_socials li .bxl-youtube {
  color: white;
  background: red;
  padding: 0.60rem;
  font-size: 2.2rem;
}

/*===========COPYRIGHT=========== */

.footer_copyright {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-white);
}


/* ================== MEDIA QUERY TABLETS ==================*/

/* tablet portrait*/

@media only screen and (min-width: 601px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .container {
    max-width: var(--container-max-width-md);
    width: var(--container-width-md);
  }

  body {
    position: relative;
    clear: both;
  }

  section {
    margin-top: 0.5rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .btn {
    width: 8rem;
    height: auto;
    padding: 0.5rem;
  }

  .btn_type2 {
    width: 8rem;
  }

  .section_header {
    font-size: 1.65rem;
  }

  /* --------------- HEADER -----------------*/
  .header_container ul li:nth-child(1) img {
    width: 7rem;
  }

  .header_container ul li p {
    font-weight: 600;
  }

  .header_container ul li:nth-child(3) img {
    width: 4.5rem;
  }


  /* ================== NAVBAR ==================*/
  #navbar {
    position: relative;
    overflow: visible;
    z-index: 99;
    height: 3rem;
  }

  .navbar_buttons {
    height: inherit;
  }

  #navbar #open-menu-btn,
  #navbar #close-menu-btn {
    display: contents;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    animation: animateNavItems 400ms linear forwards;
  }

  #navbar #close-menu-btn {
    display: none;
    font-size: 3rem;
  }

  .nav_menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-transparent-white);
    box-shadow: var(--box-shadow1);
    float: left;
    padding: 1rem;
  }

  .nav_menu li {
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top left;
    opacity: 0;
    margin: 0.4rem auto;
    z-index: 111;
  }

  .nav_menu li .btn {
    width: 20rem;
  }

  #navbar .nav_menu li a:is(:link, :active, :visited).active {
    background: var(--color-primary);
    color: none;
    border-bottom: none;
  }

  #navbar ul>li .btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
  }

  /* ----------- nav menu animation ---------- */
  .nav_menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav_menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav_menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav_menu li:nth-child(5) {
    animation-delay: 800ms;
  }

  @keyframes animateNavItems {
    from {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    to {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  /* ==================CONTACT & MAP==================*/
  .contactUs-wrapper {
    grid-template-columns: 1fr;
  }

  /* ----------------contact-details----------- */

  .contact_details_content {
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    height: 18rem;
  }

  .contact_btn {
    margin-bottom: 0rem;
  }

  /* ------------MAP -----------*/

  /*-------------------- FORM ---------------*/
  form {
    width: 80%;
  }

  /* ================== FOOTER ==================*/

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-size: 1.1rem;
    padding: 0 2rem;
  }

  .footer_container>div h4 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    color: var(--color-yellow);
  }

}


/* ================== media query MOBILES ==================*/

/* phone portrait mode */

@media only screen and (min-width: 300px) and (max-width: 600px) {

  .container {
    max-width: var(--container-max-width-sm);
    width: var(--container-width-sm);
  }

  body {
    position: relative;
    clear: both;
  }

  section {
    margin-top: 0.5rem;
    padding-top: 0rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
  }

  .btn {
    width: 6rem;
    height: auto;
    padding: 0.5rem;
  }

  .btn_type2 {
    width: 6rem;
    padding: 0.3rem 0;
  }

  .section_header {
    font-size: 1rem;
  }

  /* ================== HEADER ==================*/
  .header_container ul {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0;
  }

  .header_container ul li:nth-child(1) img {
    width: 5rem;
  }

  .header_container ul li h2 {
    font-size: 1rem;
  }

  .header_container ul li p {
    padding: 0 2rem;
    font-size: 0.65rem;
  }

  .header_container ul li:nth-child(3) img {
    width: 2.5rem;
  }


  /* ================== NAVBAR ==================*/
  #navbar {
    position: relative;
    overflow: visible;
    z-index: 99;
    height: 2rem;
  }

  .navbar_buttons {
    height: inherit;
  }

  #navbar #open-menu-btn,
  #navbar #close-menu-btn {
    display: contents;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    animation: animateNavItems 400ms linear forwards;
  }

  #navbar #close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-transparent-white);
    box-shadow: var(--box-shadow1);
    float: left;
    padding: 1rem;
    left: 0;
  }

  .nav_menu li {
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top left;
    opacity: 0;
    margin: 0.4rem auto;
    z-index: 111;
  }

  .nav_menu li .btn {
    width: 15rem;
    font-size: 0.8rem;
  }

  /* -------linked with activePage JS --------- */
  #navbar .nav_menu li a:is(:link, :active, :visited).active {
    background: var(--color-primary);
    border-bottom: none;
  }

  #navbar ul>li .btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
  }

  /* ----------- nav menu animation ---------- */
  .nav_menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav_menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav_menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav_menu li:nth-child(5) {
    animation-delay: 800ms;
  }

  @keyframes animateNavItems {
    from {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    to {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  /* ==================CONTACT & MAP==================*/
  .contactUs-wrapper {
    grid-template-columns: 1fr;
    margin: 1rem auto 0rem auto;
  }

  /* --------- Contact-details---------- */
  .contact_details_content {
    gap: 0.5rem;
    padding: 1rem;
    height: 15rem;
  }

  .mail_phone p {
    margin-bottom: 0rem;
  }

  .contact_details_content p {
    font-size: 0.75rem;
  }

  .contact_details_content p i {
    font-size: 1rem;
  }

  .connect_with_us,
  .mail_phone,
  .contact_btn {
    margin-bottom: 0.5rem;
  }

  /* --------------- MAP -----------------*/
  .map_content {
    height: 20rem;
  }


  /* ------------- FORM-------------------*/
  form {
    margin: 2% auto;
    width: 90%;
    height: auto;
  }

  legend {
    font-size: 0.6rem;
  }

  #part-1,
  #part-2,
  #part-3 {
    margin-bottom: 0.8rem;
    padding: 0.5rem;
  }

  label#name,
  label#email,
  label#message {
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5%;
    margin: 0.5rem 0;
  }

  #resetButton,
  #submitButton {
    font-size: 0.8rem;
    margin: 0;
  }

  /* ================== FOOTER ==================*/
  footer {
    padding-top: 1rem;
  }

  .footer_container {
    padding: 0 0.5rem;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
  }

  .footer_container>div h4 {
    margin-bottom: 1rem;
  }

  .footer_logo img {
    width: 3rem;
  }

  .footer_2,
  .footer_3 {
    line-height: 1;
  }

  .footer_4 .contact_us i {
    font-size: 1rem;
  }

  /* <!-------------FOR SOCIAL HANDELS-------------> */
  .footer_socials li .bxl-youtube {
    font-size: 1.2rem;
  }

  /* ===========COPYRIGHT=========== */
  .footer_copyright {
    margin-top: 1rem;
    padding: 1rem 0;
    font-size: 0.7rem;
  }


}